#choices1{
    margin-left: 185px;
}

#head{
    text-align: center;
    font-size: 43px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}
button{
    margin-top: 20px;
    border: 1px solid black;
    margin-left: 90px;
    border-radius: 50%;
    cursor:pointer;
    
}
button:hover{
    border: 1px solid pink;
}
#rock{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0px solid black;
    object-fit: cover;
    background-size: cover;
}
#paper{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0px solid black;
    object-fit: cover;
    background-size: cover;
}
#scissors{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0px solid black;
    object-fit: cover;
    background-size: cover;
}
#player{
    margin-left: 250px;
    font-size: 40px;
    margin-top: 30px;
}
#comp{
    margin-left: 190px;
    font-size: 40px;
    margin-top: 5px;

}
#res{
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 2px;
}
#score{
    margin-left: 250px;
    font-size: 40px;
    margin-top: 30px;
}
#score1{
    margin-left: 190px;
    font-size: 40px;
    margin-top: 5px;
}
.green{
    color: rgb(34, 173, 34);
}
.red{
    color: red;
}
.orange{
    color:rgb(255, 165, 0);
}
#playerscore{
    color:  rgb(34, 173, 34);
}
#computerscore{
    color: red;
}
.brown{
    color: brown;
}

